PlateUp! Nuzlocke

Goal:
Complete days 1 through 15 using the rules stated below. 
Standard Speedrunning rules are used (listed here)

Rules:
Played in Turbo Mode (can use Alpine if you want an easier version for fun). Turbo offers random cards regardless of whether “Seed affects everything” is on or off, so this setting doesn’t matter
Random Small Map, Random Food (By choosing to do the left most selections, right most, or some other predetermined way to randomly choose). 
Cannot take warehouse items into run
Cannot have more than one of any placeable item at any time during the business day (aside from fish bins given by recipes) such as tables, counters, mixers, prep stations etc. Different types of these items CAN be placed (so a rapid mixer and heated mixer is fine, but two rapid mixers is not). You can have duplicates during prep for purposes of moving, switching, etc., but by the time the day starts there must be no duplicates.
Any blueprint can be kept and stored, however you cannot take a duplicate item, as stated above.
Only 1 blueprint reroll per day
You can use the “Choose Your Own Cards” mod to disable Large Groups and Flexible Groups, but only these two cards as they are not possible with the Nuzlocke rules.
